<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708737726793-g1kq4hkuo5434cd8q4uq0o6av8d78r5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708737726793-g1kq4hkuo5434cd8q4uq0o6av8d78r5f</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Tpp6NuagawMimMQSfeyFgJ1ZVT40fhI</string>
	<key>GCM_SENDER_ID</key>
	<string>708737726793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodie</string>
	<key>PROJECT_ID</key>
	<string>foodie-recipe-app</string>
	<key>STORAGE_BUCKET</key>
	<string>foodie-recipe-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708737726793:ios:80a8abb27e486ce19fc298</string>
</dict>
</plist>